@import 'typography.css';

:root {
    --color-bg: rgb(38, 22, 26);
    --color-txt: rgb(146, 154, 177);
    --ff-lauftxt: "logic-monospace", mono;
    --ff-display: "logic-monospace", mono;
}

body {
    background: var(--color-bg);
    color: var(--color-txt);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;

    @media (max-width: 512px) {
        flex-direction: column-reverse;
    }
}

main {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: auto;
    padding: 20px;
}

nav {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding: 20px;

    a {
        container-name: navLink;
    }

    .jumper {
        margin-right: auto;

        @media (max-width: 512px) {
            width: 100%;

            .prevNext a {
                padding: 20px;
            }
        }
    }
}

.siteHeader {
    position: sticky;
    background-color: var(--color-bg);

    @media (max-width: 512px) {
        bottom: 0;
    }
}

.prevNext {
    display: flex;
    gap: 20px;

    p {
        margin: 0;
    }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: unterline;
        }
    }
}

a,
#randomPoemBtn {
    color: var(--color-txt);
    border: none;
    background: none;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;

    &:visited,
    &:hover {
        color: rgb(190, 149, 149);
        text-decoration: none;
    }
}

.postListing {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    line-height: 1;

    @media (max-width: 512px) {
        flex-direction: column;
    }

    li {
        display: inline;

        &:after {
            content: "•";
        }

        .pageTitle {
            display: inline;
            margin: 0;

            a {
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }
}

img {
    width: 100%;
}