@import 'typography.css';

:root {
    --color-bg: rgb(31, 37, 51);
    --color-txt: rgb(146, 154, 177);
    --ff-lauftxt: "logic-monospace", mono;
    --ff-display: "logic-monospace", mono;
}

body {
    background: var(--color-bg);
    color: var(--color-txt);
}

main {
    display: flex;
    gap: 20px;
}

nav {
    display: flex;
    gap: 20px;
    justify-content: flex-end;

    .jumper {
        margin-right: auto;
    }
}

.siteHeader {
    position: sticky;
    top: 0;
}

.prevNext {
    display: flex;

    p {
        margin: 0;
    }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: unterline;
        }
    }
}

a,
#randomPoemBtn {
    color: var(--color-txt);
    border: none;
    background: none;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;

    &:visited,
    &:hover {
        color: rgb(190, 149, 149);
        text-decoration: none;
    }
}

.postListing {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    li {
        display: inline;

        .pageTitle {
            display: inline;
            margin: 0;
        }
    }
}