nav,
.prevNext,
.poemTitle,
button,
.post-link,
p,
li,
.readMoreLink {
    font-family: var(--ff-display);
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
}

.poem p,
h1 {
    font-family: var(--ff-lauftxt);
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    margin: 0;

    p {
        margin: 0;
    }
}