<header class="postHeader" itemprop="articleHead">
    <h1 class="poemTitle" itemprop="name headline">
      — {{ page.title | escape }}
      {%- if page.creationDate -%} 
        <time datetime="{{ page.creationDate }}" itemprop="datePublished" >
          {{ page.creationDate }}
        </time>
      {% endif %}
      {%- if page.author -%} • 
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
        </span>
      {% endif %}
    </h1>
  </header>