{% if page.previous %}
  <aside class="prevNext">
    <p class="prev">
      <a rel="prev" href="{{ site.baseurl }}{{ page.previous.url }}"
        ><</a
      >
    </p>
    {% endif %} {% if page.next %}
    <p class="next">
      <a rel="next" href="{{ site.baseurl }}{{ page.next.url }}">></a>
    </p>
  </aside>
{% endif %}