<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'de' }}">
  {%- include head.liquid -%}

  <body>
    {%- include header.liquid -%}

    <main aria-label="Content">{{ content }}</main>

    {%- include footer.liquid -%}
  </body>
</html>
