{% if page.previous %}
    <p class="prevNext prev">
      <a rel="prev" href="{{ page.previous.url }}"
        >{{ page.previous.title }}</a
      >
    </p>
    {% endif %} {% if page.next %}
    <p class="prevNext next">
      <a rel="next" href="{{ page.next.url }}">{{ page.next.title }} -></a>
    </p>
{% endif %}