nav {
    font-family: "franklin-gothic-urw-cond", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.poem {
    font-family: "franklin-gothic-urw", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4vw;
    p {
        margin: 0;
    }
}