---
layout: base
---
<article
  class="post h-entry"
  itemscope
  itemtype="http://schema.org/CreativeWork"
>
  <div class="poem" itemprop="articleBody">{{ content }}</div>
  {%- include postHeader.liquid -%}
</article>